@import '../../theme/variables.scss';

.profileWrapper {

}

.profileHeader {
  position: relative;
  height: 200px;
  margin: 75px 100px;
}

.profileAvatar {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  background-color: $foreground;
}

.profileInfo {
  position: absolute;
  display: inline-block;
  left: 250px;
  top: 25px;
}
