.main-links a{
  font-size: 40px;
  padding-bottom: 20px;
}

.sub-links a{
  display: inline;
  padding: 0  10px 10px 0;
}

#home-content {
  height: 100%;
  display: flex;
  align-items: center;
}

#home-featured {
  text-align: center;
  margin: 0 auto;
  padding: 0 20%;
}

#home-sidebar {
  text-align: left;
}
