@import '../../theme/variables.scss';

.homeSidebar {
  padding: 0px;
  margin-left:0px 15px;
  text-align: center !important;
}


.mainLinks a {
  display: block;
  font-size: 40px;
  padding-bottom: 20px;
}

.mainLinks a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.subLinks {
  display: inline-block;
}

.subLinks a {
  padding: 5px 10px;
}

.subLinks a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.homeContent {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeFeatured {
  text-align: center;
  margin: 0 auto;
}

.logo {
  filter: drop-shadow( 3px 3px 0 $cozy-pink);
  width: 250px;
}

.logo path{
  fill: $weird-pink !important;
}

.navLinkBlue {
  color: $weird-blue !important;
  text-shadow: 2px 2px 0 $cozy-blue !important;
}

.navLinkBlue:hover {
  color: $cozy-blue !important;
  text-shadow: 2px 2px 0 $weird-blue !important;
}

.navLinkGreen {
  color: $weird-green !important;
  text-shadow: 2px 2px 0 $cozy-green !important;
}

.navLinkGreen:hover {
  color: $cozy-green !important;
  text-shadow: 2px 2px 0 $weird-green !important;
}

.navLinkPeach {
  color: $weird-peach !important;
  text-shadow: 2px 2px 0 $cozy-peach !important;
}

.navLinkPeach:hover {
  color: $cozy-peach !important;
  text-shadow: 2px 2px 0 $weird-peach !important;
}

@media screen and (max-width: 992px) {
  .homeFeatured {
    padding-bottom: 50px;
  }

  .homeSidebar {
    text-align: center;
  }
}

.profileButton {
  margin-bottom: 10px;
}
