@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

//color hex codes:
//base
$cozy-cream: #f8f5eb;
$weird-cream: #edeae1;
$cozy-gray: #494949;
$weird-gray: #dddddd;
//works
$cozy-green: #a7d6a8;
$weird-green: #dbeee1;
//boards
$cozy-blue: #48a1c7;
$weird-blue: #a6c4d5;
//streams
$cozy-peach: #fcc1b1;
$weird-peach: #fcdfd7;
//home and misc.
$cozy-pink: #fa73ad;
$weird-pink: #fab2d1;

//color formatting defaults
//divs & other major page elements
$background: $cozy-cream; 
$foreground: $cozy-pink;
$accent: $weird-cream;

//text
$bg-text-color: $cozy-gray;
$fg-text-color: $cozy-cream;
$link-text-color: $weird-pink;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
