#board-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

#board-feed {
  margin: 0 auto;
  text-align: center;
}

// Thread Feed
.thread-box {
  display: block;
  background-color: #F8F5EB;
  margin: 20px;
  border-radius: 5px;
  height: 500px;
  overflow: hidden;
}

.thread-oppost {
  color: #272727;
}

.thread-box img {
  background-color: red;
  height: 300px;
  width: auto;
}

#thread-forum {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#thread-forum-popup {
  position: absolute;
  bottom: 40px;
  right: -20px;
  margin: 20px;
  background: #F8F5EB;
  color: #272727;
  text-align: left;
}

// Thread Page
#thread-wrapper {
  position: relative;
  height: 100%;
  overflow:auto;
}

#thread-content {
  position: absolute;
  text-align: left;
  margin: 0 auto;
  padding: 120px 50px;
  min-height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#thread-sidebar {
  text-align: left;
  float: right;
  position: fixed;
  right: 0;
  background-color: #F8F5EB;
  color: #272727;
  height: 100%;
  padding: 120px 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

// Messages/Post
.thread-post {

}

.message-wrapper {
  max-width: 80%;
  padding: 20px;
  text-align: left;
}

.message-image {
  float: left;
  max-width: 40%;
}

.message-text {
  padding: 10px;
}

.message-poster {
  width: 80px;
  display: inline-block;
  text-align: center;
  float: left;
}
.message-bubble {
  max-width: 400px;
  margin-left: 20px;
  display: inline-block;
  padding: 20px;
  background-color: #F8F5EB;
  color: #272727;
}

#reply-forum {
  position: fixed;
  bottom: 0;
  right: 40%;
  transform: translateX(50%);
  z-index: 10;
}

#reply-forum-popup {
  position: absolute;
  bottom: 40px;
  right: -20px;
  display: block;
  margin: 20px;
  background: #F8F5EB;
  color: #272727;
  z-index: 10;
}
