.main-links a {
  font-size: 40px;
  padding-bottom: 20px;
}

.sub-links a {
  display: inline;
  padding: 0 10px 10px 0;
}

#home-content {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-featured {
  margin: 0 auto;
  padding: 0 20%;
}

#home-sidebar {
  margin: 0 auto;
  text-align: left;
}

.nav-hover-blue:hover {
  color: $cozy-blue !important;
}

.nav-hover-green:hover {
  color: $cozy-green !important;
}

.nav-hover-orange:hover {
  color: $cozy-orange !important;
}
