#profile-page-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#profile-button {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

#user-profile-status {
  float:left;
  text-align: right;
  padding-top: 5px;
}

#user-profile-status p {
  padding-bottom: 5px;
  margin: 0;
}

#user-profile-avatar {
  float: right;
  text-align: left;
  padding-left: 10px;
}

#home-sidebar #user-profile-status {
  float: right;
  text-align: left;
}

#home-sidebar #user-profile-avatar {
  float: left;
  padding-left: 0;
  padding-right: 10px;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  width:40px;
  height:40px;
}
