#radio-content {
  height: 100%;
  display: flex;
  align-items: center;
}

#radio-featured {
  text-align: center;
  margin: 0 auto;
  padding: 0 20%;
}

#radio-sidebar {
  text-align: left;
}

// Stream
#stream {
  height: 100%;
}

#stream-feed {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

#stream-chat {
  color: #272727;
  height: 100%;
  background-color: #F8F5EB;
  padding: 50px;
}
