// Exchange Home Page
#shop-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.itembox {
  display: block;
  background-color: #F8F5EB;
  margin: 20px;
  border-color: #272727;
  border-radius: 5px;
  height: 500px;
  overflow: hidden;
}

.itembox a {
  color: #272727
}
.itembox img {
  background-color: #F8F5EB;
  height: 300px;
  width: auto;
}


// Item Detail Page
#itemdetail-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#itemdetail-display {
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

#itemdetail-display img {
  padding: 40px 0;
  max-height: 80%;
  max-width: 100%;
}

#itemdetail-info {
  text-align: left;
}
