#shop-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

#itemdetail-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}
