// Exchange Home Page
#shop-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.itembox {
  display: block;
  background-color: grey;
  margin: 20px;
  border-radius: 5px;
  height: 500px;
  overflow: hidden;
  width: 300px;
}

.itembox img {
  background-color: white;
  height: 300px;
  width: auto;
}


// Item Detail Page
#itemdetail-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#itemdetail-display {
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

#itemdetail-display img {
  padding: 40px 0;
  max-height: 80%;
  max-width: 100%;
}

#itemdetail-info {
  text-align: left;
}
