@import '../../theme/variables.scss';

// Navbar
.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 1%;
  top: 1%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.navbar *{
  position: relative;
  z-index: 101;
}

//sets up dropdown menu around icons
.navbarDropdown {
  display: inline-block;
}

//adds dropdown menu bg color on hamburger click
.navbarDropdownMenu {
  background-color: $foreground;
}

.icons{
  padding-top: 7px;
  z-index: 102;
  position:relative;
}

//hamburger button
.hamburger {
  box-shadow: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  float: left;
}

.hamburger:hover {
  background: none;
  box-shadow: none;
  cursor: pointer;
}

//sizing svg icons
.hamburger svg{
  height: 50px;
  width: 50px;
}

.brandimg{
  height: 50px;
  width: 50px;
}

//changes svg icon color on click
.iconClicked path{
  fill: $background  !important;
}

//div around dropdown links
.links{
  padding: 0px 15px 15px 15px;
}

.mainLink {
  font-size: 20px;
}

.navbarMenu a {
  color: $alt-text-color;
}

.navbarMenu .main-links {
  text-align: left;
}

.navbarMenu .main-links a {
  font-size: 30px;
}

.navbarMenu .sub-links {
  text-align: left;
}

.navbarMenu .sub-links a {
  font-size: 20px;
}

//profile button
.profileButton {
  position: fixed;
  padding: 5px;
  top: 1%;
  right: 60px;
}

//invisible overlay covers entire view
.overlay {
  z-index: 99;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0px;
  left:0px;
}
.overlay:hover {
  cursor: default;
}

//removes outline around clicked elements
*:focus {
  outline:0;
}