@import '../../theme/variables.scss';

// Navbar
.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 1%;
  top: 1%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.navbar *{
  position: relative;
  z-index: 101;
}

//sets up dropdown menu around icons
.navbarDropdown {
  position: fixed;
  display: inline-block;
}

//adds dropdown menu bg color on hamburger click
.navbarDropdownMenu {
  background-color: $foreground;
}

.icons{
  z-index: 102;
  position:relative;
  margin-top: 3px;
}

SVG path {
  fill: $foreground !important;
}

//hamburger button
.hamburger {
  box-shadow: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  float: left;
}

.hamburger:hover {
  background: none;
  box-shadow: none;
  cursor: pointer;
}

//sizing svg icons
.hamburger svg{
  height: 50px;
  width: 50px;
}

.brandimg{
  height: 50px;
  width: 50px;
}

//changes svg icon color on click
.iconClicked SVG path{
  fill: $background  !important;
}

//div around dropdown links
.links{
  padding: 0px 15px 15px 15px;
}

.mainLink {
  font-size: 20px;
}

.navbarMenu a {
  color: $foreground;
}

.navbarMenu .main-links {
  text-align: left;
}

.navbarMenu .main-links a {
  font-size: 30px;
}

.navbarMenu .sub-links {
  text-align: left;
}

.navbarMenu .sub-links a {
  font-size: 20px;
}

//profile button
.profileButton {
  position: fixed;
  padding: 5px;
  top: 1%;
  right: 60px;
}

//invisible overlay covers entire view
.overlay {
  z-index: 99;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0px;
  left:0px;
}
.overlay:hover {
  cursor: default;
}

//removes outline around clicked elements
*:focus {
  outline:0;
}

/* changing navbar colors depending on theme based on body's class
(which is decided in App.js)*/

//styles shared by all cream themes
.creamTheme {
  .navbarDropdownMenu {
    background-color: $cozy-cream;
  }
  SVG path {
    fill: $cozy-cream !important;
  }
}

//general boards navbar styles (when body has cream bg)
body[class="boardsTheme"] .navbar{
  .navbarDropdownMenu {
    background-color: $cozy-blue;
  }
  .navbarMenu a {
    color: $cozy-cream !important;
  }
  .navbarMenu a:hover{
    color: $weird-blue !important;
  }
  .icon:not(.iconClicked) {
    SVG path {
    fill: $cozy-blue !important;}
  }
}
//general stream navbar styles (when body has cream bg)
body[class="streamTheme"] .navbar{
  .navbarDropdownMenu {
    background-color: $cozy-peach;
  }
  .navbarMenu a {
    color: $cozy-cream !important;
  }
  .navbarMenu a:hover{
    color: $weird-peach !important;
  }
  .icon:not(.iconClicked) {
    SVG path {
    fill: $cozy-peach !important;}
  }
}
//general discovery navbar styles (when body has cream bg)
body[class="discoveryTheme"] .navbar{
  .navbarDropdownMenu {
    background-color: $cozy-green;
  }
  .navbarMenu a {
    color: $cozy-cream !important;
  }
  .navbarMenu a:hover{
    color: $weird-green !important;
  }
  .icon:not(.iconClicked) {
    SVG path {
    fill: $cozy-green !important;}
  }
}
//cream boards theme styles (when body has blue bg)
body[class="creamBoardsTheme"] .navbar{
  @extend .creamTheme;
  .navbarMenu a {
    color: $cozy-blue !important;
  }
  .navbarMenu a:hover{
    color: $weird-blue !important;
  }
  .iconClicked {
    SVG path {
    fill: $cozy-blue !important;}
  }
}
//cream stream theme styles (when body has peach bg)
body[class="creamStreamTheme"] .navbar{
  @extend .creamTheme;
  .navbarMenu a {
    color: $cozy-peach !important;
  }
  .navbarMenu a:hover{
    color: $weird-peach !important;
  }
  .iconClicked {
    SVG path {
    fill: $cozy-peach !important;}
  }
}
//cream discovery theme styles (when body has green bg)
body[class="creamDiscoveryTheme"] .navbar{
  @extend .creamTheme;
  .navbarMenu a {
    color: $cozy-green !important;
  }
  .navbarMenu a:hover{
    color: $weird-green !important;
  }
  .iconClicked {
    SVG path {
    fill: $cozy-green !important;}
  }
}
