@import '../../theme/variables.scss';

//css for the thread preview divs on home and board pages

.threadWrapper {
  display: inline-block;
}

.threadContent {
  background-color: $cozy-blue;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.threadImage {
  max-width: 100%;
}

.threadText {
  padding: 20px;
  color: $cozy-cream;
}

.threadTitle {
  font-size: 22px;
}

.threadDate {
  font-size: 8px;
  text-align: right;
}
