@import '../../theme/variables.scss';

//css for the thread preview divs on home and board pages
//450 width
//space in between: 80 (40 + 40)

.threadWrapper {
  display: inline-block;
  width: 450px;
  text-align:center;
  padding: 0;
  margin: 40px 40px 40px 40px;
}

.threadContent {
  background-color: $cozy-blue;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  width: 450px;
  display: inline-block;
}

.threadImage {
  //max-width: 280px;
  width:98%;
  margin: 0 auto;
}

.threadText {
  color: $cozy-cream;
  text-align: justify;
}

.threadText:hover {
  color: $weird-cream;
}

.threadPoster {
  float: right !important;
}

.threadPoster a{
  //new font stuff
  color:$cozy-cream !important;
}

.threadPoster:hover a{
  color:$weird-cream !important;
}

.threadTitle {
  font-size: 22px;
  text-align: center
}

.threadDate {
  font-size: 8px;
  text-align: right;
}

.profileAvatar {
  overflow: hidden;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width:20px;
  max-height:20px;
  object-fit: cover;
  background-color: $cozy-cream;
  border: 1px solid $cozy-cream;
}
