@import '../../theme/variables.scss';

.app {
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.appContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.notifs {
  position: fixed;
  margin: 15px 15px 15px 15px;
  top: 60px;
  right: 0%;
  z-index: 120;
  white-space: pre-wrap;
  line-height: 1.5em;
}

:global(.form-control-feedback) {
  text-align: inherit;
}

/* changes bg color from default cream
to blue, green, and peach for respective pages*/
body[class="creamBoardsTheme"] {
  background-color: $cozy-blue;
}

body[class="creamWorksTheme"] {
  background-color: $cozy-green;
}

body[class="creamStreamsTheme"] {
  background-color: $cozy-peach;
}
