.app {
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.appContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.notifs {
  position: fixed;
  margin: 15px 15px 15px 15px;
  top: 60px;
  right: 0%;
  z-index: 120;
  white-space: pre-wrap;
  line-height: 1.5em;
}

:global(.form-control-feedback) {
  text-align: inherit;
}
